{% extends 'homesapp/base.html' %}

{% block body %}
<html>
  <head>
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;  /* The height is 400 pixels */
      width: 100%;  /* The width is the width of the web page */
     }
  </style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{{property.image_url}}" class="card-img-top" height="300" width="300" >
          <div class="card-body">
            <h5 class="card-title">{{property.property_name}}</h5>
          </div>
        </div>
      </div><!--first colum for Image Card-->

      <div class="col-md-6">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Information</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <td><label><b>AREA sqft</b></label></td>
                <td>{{property.area}}</td>
                <td></td>
              </tr>

              <tr>
                <td><label><b>AGE sqft</b></label></td>
                <td>{{property.area}}</td>
                <td></td>
              </tr>

              <tr>
                <td><label><b>PRICE sqft</b></label></td>
                <td>{{property.price}}</td>
                <td></td>
              </tr>

              <tr>
                <td><label><b>DIRECTION sqft</b></label></td>
                <td>{{property.direction}}</td>
                <td></td>
              </tr>

              <tr>
                <td><label><b>FLOOR sqft</b></label></td>
                <td>{{property.floor}}</td>
                <td></td>
              </tr>

              <tr>
                <td><label><b>POSTAL ADDRESS sqft</b></label></td>
                <td>{{property.postadd}}</td>
                <td></td>
              </tr>

            </tbody>
        </table>
      </div><!--Second colum for Property Info-->

    </div>
    <!--Google Map Snippet-->

    <div class="col-md-8">
      <div class="thumbnail">
        <h3>Location</h3>
        <div id="map"></div>
          <script>
            // Initialize and add the map
            function initMap() {
            // The location of Uluru
            var uluru = {lat: {{property.lat_field}}, lng: {{property.long_field}}};
            // The map, centered at Uluru
            var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 12, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
          }
          </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoU3tctP5BEs3DmLrr6dPLD1ahVKbRLB0&callback=initMap">
        </script>
      </div>
    </div> <!--col-md-8->
  </body>
</html>

{% endblock %}
